body{
    /* Comentar Ctrl + K, Ctrl + C. Para descomentar Ctrl + K, Ctrl + U*/
    background-color: gray;
    display: grid;
    place-items: center;
    height: 100vh;
}

.box-shadow{
    /* box-shadow: [horizontal] [vertical] [blur] [cor] */
    /* box-shadow: [horizontal] [vertical] [blur] [(opcional) spread] [cor] */
    background-color: white;
    width: 300px;
    height: 300px;
    transform: scale(2);
    /* box-shadow: 7px 7px; */
    /* box-shadow: -7px -7px; */
    /* box-shadow: 7px 7px rgb(11, 55, 11); */
    /* box-shadow: 7px 7px 7px rgb(11, 55, 11); */
    /* box-shadow: -7px -7px 7px rgb(11, 55, 11); */
    /* box-shadow: 7px 7px 7px 7px rgb(11, 55, 11); */
    /* box-shadow: 7px 7px 7px 21px rgb(11, 55, 11); */
    /* box-shadow: 0 0 32px rgb(11, 55, 11); */
    /* box-shadow: inset 0 0 32px rgb(11, 55, 11); */
    /* box-shadow: inset 10px 10px 32px rgb(213, 232, 134),  
    inset -10px -10px 32px rgb(221, 162, 193); */
    /* box-shadow: 0 10px 8px -8px rgb(11, 55, 11); */
    /* box-shadow: 10px 0 8px -8px rgb(11, 55, 11); */
    /* box-shadow: 0 0 0 10px rgb(11, 55, 11);
    border-radius: 5px; */
     box-shadow: 0 0 0 5px rgb(11, 55, 11),
    0 0 0 10px rgb(146, 29, 29),
    0 0 0 15px rgb(28, 118, 178);
}